h1 {
    color: aqua;
}

body {
    color: rgb(0, 0, 0);
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15;
    font-weight: bold;
    line-height: 1.8mm;
    margin: 0;
    background-image: ("../images/dinapart3");
}