h1 {
    color: aqua;
}

body {
    color: rgb(0, 0, 0);
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15;
    font-weight: bold;
    line-height: 1.9mm;
    margin: 0;
    background-image: url ("../images/dinapart3.jpg");
    background-repeat: repeat-y;
    background-position: center bottom;

}
.doboz-2 {
    
}