h1 {
    color: aqua;
}

body {
    color: rgb(0, 0, 0);
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 8mm;*/
    font-weight: bold;
    line-height: 4mm;
    margin: 0;
    /*background-image: url("/images/dunapart3.jpg");
    background-repeat: repeat-y;
    background-position: center bottom;*/

}

/*.doboz-2 {

}*/

.doboz-2 h1 {
    text-decoration: underline;
}

a :hover{
    color:red
}

.celjaink {
    margin: 20px;
    padding: 20px;
    background-color: black;
    color: white;
    border: 3px blue solid;
}
.plakatok img {
    width: 300px;       /* méret */
    margin: 10px;       /* térköz */
    border-radius: 10px; /* lekerekítés */
}